extends layout

include mixins/_storeCard
include mixins/_pagination

block content
  .inner
    h2= title 

    .stores
      each store in stores
        +storeCard(store)
    if user 
      h6 Hey #{user.name}, Since You're a Registered User, you can #[a(href="/add") create your own Salon listing here! #[span ]] 
    else
      h6 #[a(href="/login") Log in #[span ]]  or #[a(href="/register") register #[span ]] to create your own listings!           
    +pagination(page, pages, count)