extends layout

include mixins/_vanCard
include mixins/_pagination

block content
  .inner
    h2= title

    .stores
      each van in vans
        if !van.sold
          +vanCard(van)
    if user 
      h6 Hey #{user.name}, Since You're a Registered User, you can #[a(href="/add-grooming-van") create #[span ]]your own Grooming Van listing!
    else
      h6 #[a(href="/login") Log in #[span ]]  or #[a(href="/register") register #[span ]] to create your own listings!
    +pagination(page, pages, count)
    h6 #[a(href="/sold-groomer-ads") View #[span ]] Recently Sold Groomer Ads →